<a href="https://colab.research.google.com/github/r-rajgarhia/PYTHON/blob/main/Python_for_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Basics for AI
  1. Variables in Python

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#Variable assignment
name = "Riddhi Rajgarhia"
age = 21
is_student = True
print("My name is ",name,"My age is",age,"I am a student",is_student)

My name is  Riddhi Rajgarhia My age is 21 I am a student True

  2. Data Types in Python

In [ ]:
#examples of commom data types
name = "Riddhi Rajgarhia"  #str
age = 21                  #int
is_student = True         #bool
height=5.3                #float
Kirana= ["Sugar","Salt","Milk",12,56,90,89.6,True]  #list
#tuple dict, set,
Kirana.append("Shampoo")
print(type(name))
print(type(age))
print(type(is_student))
print(type(height))
print(type(Kirana))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'list'>

  3.Operators in Python

In [ ]:
#Operators
a=11
b=25
#Arithematic operators
#+,-,*,/,//,%,**
print("Division",a/b)
print("Floor Division",a//b)
print("Modulus",a%b)
print("Exponentiation",a**b)

Division 0.44
Floor Division 0
Modulus 11
Exponentiation 108347059433883722041830251

In [ ]:
#Comaparison Operators
# ==  !=  > < >=  <=
print("Not equal:",a!=b)

Not equal: True

In [ ]:
#Logical operators
a=True
b=False
print("a and b:",a and b)
print("a or b:",a or b)
print("not b:",not b)

a and b: False
a or b: True
not b: True

In [ ]:
#Assignment operators
x=5
x=x*2
print("updated x:",x)

updated x: 10

In [ ]:
#Identity Operators
print("Is a same as b?", a is b)
print("Is a not same as b?", a is not b)

kirana= ["salt", "sugar", "pepper", "coils", "curd", "notebook"]
print("shampoo" in kirana)
kirana.append("shampoo")
print(kirana)
print("shampoo" in kirana)

#Membership Operators
fruits = ["apple", "banana", "cherry"]
print("Is 'apple' in fruits?", "apple" in fruits)
print("Is 'mango' not in fruits?", "mango" not in fruits)

Is a same as b? False
Is a not same as b? True
False
['salt', 'sugar', 'pepper', 'coils', 'curd', 'notebook', 'shampoo']
True
Is 'apple' in fruits? True
Is 'mango' not in fruits? True

In [ ]:
#4. Control Structures (if-else)
age= 17
if age > 18:
   print("You are eligible to vote.")
else:
  print("You are not eligible to vote.")

marks = 75
if marks>90:
  print("Grade A")
elif marks >= 70:
  print("Grade B")
else:
  print("Grade C")

You are not eligible to vote.
Grade B

In [ ]:
def Intro(name):
  print("Hello Welcome",name, "Welcome to the PEBL training organized by IBM")

Intro("Riddhi Rajgarhia")

Hello Welcome Riddhi Rajgarhia Welcome to the PEBL training organized by IBM

In [ ]:
#5. Functions in Python

#Simple function
def greet(name):
  print("Hello", name)

greet("Samarth")

# Function with return value
def add(a, b):
  return a+b

result= add (5, 3)
print("Sum is:", result)

Hello Samarth
Sum is: 8

In [ ]:
#Lists in Python
fruits= ["apple", "banana", "mango", "Litchi", "Guava", "Peach", "Strawberry"]
ind=[0,1,2]
indhack=[-7,-6,-5,-4,-3]
fruits[-5:-2]

print(fruits[0]) #Access first iten
fruits.append("grape")  #Add item
fruits.remove("banana") #Remove item
fruits.sort() #sort List
print(fruits)

apple
['Guava', 'Litchi', 'Peach', 'Strawberry', 'apple', 'grape', 'mango']

In [ ]:
#7. Dictionaries in Python
student = {
    "name": "Riddhi",
    "age": 21,
    "marks": 85
}

print(student["name"])   #Access value
student["age"] = 22      #Update value
student["course"] = "AI"  #Add new key-value pair
del student["marks"]      # Delete key
print(student)

Riddhi
{'name': 'Riddhi', 'age': 22, 'course': 'AI'}